<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Welcome to Chit-Chat</title>
  </head>
  <body>
    <div class="container">
      <div class="joinCard">
        <div class="joinForm">
          <h1>Chit-Chat</h1>
          <form action="/chat" method="post" id='chatForm'>
            <div>
              <label for="name">Your Name</label>
              <input
                type="text"
                name="username"
                placeholder="Your name here"
                required
              /></div>
            <div>
              <label for="room">Room</label>
              <input
                type="text"
                name="room"
                placeholder="Your room number here"
                required="required"
                autocomplete="off"
              /></div>
            <div>
              <button type="submit" id="submitbtn">
                Join
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </body>
  <script>
    const btn = document.getElementById('submitbtn');
    const chatForm = document.getElementById('chatForm');

    const handleUser =(event)=>{
      event.preventDefault();
      const sessionStorage  = window.sessionStorage;
      sessionStorage.setItem('username',chatForm.elements['username'].value);
      sessionStorage.setItem('room',chatForm.elements['room'].value);
      chatForm.submit();
    }

    btn.addEventListener('click',handleUser)
  </script>
</html>