<div class="msg-container">
    <div class="col-md-3 left">
        <div class="msg-left-container" id="left">
            <%- include('./left') %>
        </div>
    </div>
    <div class="col-md-6 middle">
        <div class="msg-middle-container" id="middle">
            <%- include('./middle') %>
        </div>
    </div>
    <div class="col-md-3 right">
        <div class="msg-right-container" id="right">
            <%- include('./right') %>
        </div>
    </div>
</div>