<header class="middle-header-container">
    <img 
        class="user-img img-fluid" 
        src="/images/1.jpg" 
        alt="profile"
    >

    <div class="user-details" id="1">
        Linux
    </div>
</header>


<main class="middle-msg-container">
    <div>
        <div class="spinner">
            <div class="d-flex justify-content-center">
                <div class="alert alert-dark" role="alert">
                    Previous data could not be loaded!!!
                </div>    
            </div>
        </div>
    </div>
</main>


<footer class="middle-bottom-container" style="padding-left: 50px;">
    <textarea 
        class="msg-input col-11" 
        type="text"
        placeholder="write your msg"
        rows="3"
    ></textarea>
    <button class="col-1 msg-send-botton">
        <i 
            class="fa fa-paper-plane-o" 
            aria-hidden="true"
        ></i>
    </button>
</footer>