* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body {
  padding: 50px;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.buttons {
  text-align: center;
}

.btn-link-2 {
	display: inline-block;
  height: 50px;
  padding: 10px 20px;
  margin: auto 10px;
	border: 1px solid #ced4da;
	font-size: 16px;
  font-weight: 300;
  color: rgb(0, 0, 0);
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;
}
.btn-link-2 img {
  height: 100%;
}
.btn-link-2:hover, 
.btn-link-2:focus, 
.btn-link-2:active, 
.btn-link-2:active:focus { 
  outline: 0; 
  opacity: 1; 
  background: rgba(194, 194, 194, 0.151); 
}

.msg-botton-icon:hover {
  color: #36475a;
  transition: 0.3s;
}
.msg-botton-icon {
  font-size: 30px;
  color: #1f3349;
}